@define-color bg #141010;
@define-color fg #dacbe6;
@define-color gray1 #ffff00;
@define-color gray2 #ab9191;
@define-color gray3 #1d52a1;
@define-color gray4 #ffbd5b;
@define-color gray5 #9368d7;
@define-color fg_bright #fffbd4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}